.contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.tabla {
  padding: 20px;
  border-radius: 5px;
  background-color: white;
  height: 100%;
  width: 100%;
}

.contenedorFiltro {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.search {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.agregarProducto {
  width: 15%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.contenidoTabla {
  margin-top: 10px;
}

.title {
  font-size: 25px;
}

.ui-datatable {
  width: 100%;
}

.ui-datatable tbody td {
  white-space: nowrap;
  font-size: 16px;

  @media (max-width: 1199.98px) {
    font-size: 14px;
  }

  @media (max-width: 991.98px) {
    font-size: 12px;
  }

  @media (max-width: 767.98px) {
    font-size: 10px;
  }

  @media (max-width: 575.95px) {
    font-size: 10px;
  }
}

.ui-datatable th {
  font-size: 16px;

  @media (max-width: 1199.98px) {
    font-size: 14px;
  }

  @media (max-width: 991.98px) {
    font-size: 12px;
  }

  @media (max-width: 767.98px) {
    font-size: 10px;
  }

  @media (max-width: 575.95px) {
    font-size: 10px;
  }
}
