.container {
    display: flex;
    align-items: center;
  }
  
  .tableWrapper {
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 5px;
    background-color: white;
  }
  
  .title {
    margin-right: 20px; /* Ajusta la distancia desde la izquierda */
    color: black;
  }